.Home-RecentEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.Home-RecentEvents div {
    width: 80%;
    display: flex;
    margin: 1em;
    padding: 1em;
}

.event-img1 {
    background: url('../Images/event-img-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.event-details {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Inter', sans-serif;
}

.rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    width: 60%;
    align-self: center;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #2B3044,
        0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
}

.sp {
    color: white;
    display: block;
}

.rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
}

@media screen and (max-width:750px) {
    .Home-RecentEvents div {
        flex-direction: column;
    }

    #event1 div,
    #event2 div,
    #event1,
    #event2 {
        margin: 0%;
        align-items: center;
    }

    #event2 {
        flex-direction: column-reverse;
    }

    .rainbow-hover {
        width: 100%;
    }

}