@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.Home {
    width: 100%;
    margin-top: 10vh;
    background: url('./Images/home-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5em;
}

.our-home-heading {
    font-family: 'Inter', sans-serif;
    border-left: 7px solid #5109AD;
    color: white;
    margin: 1em 2em;
    padding-left: 0.7em;
}

.our-home-btn {
    font-size: 1.3em;
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    display: block;
    margin: auto;
    background-color: #262626;
    margin-top: 10px;
    box-shadow: 7px 0px 15px #717bf9, -7px 0px 15px #fa5c7f;
}

.our-home-btn i {
    display: inline;
}

.our-home-btn:hover {
    box-shadow: 7px 0px 15px #fa5c7f, -7px 0px 15px #717bf9;
    transform: scale(1.03);
}

@media screen and (max-width:480px) {
    .our-home-heading {
        margin: 2em 1em;
    }
}


.events,
.team {
    height: 100vh;
    width: 100%;
    margin-top: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
}

/* style={{
  height: "110vh",
  marginTop: "10vh",
  width: "100%",
  background: "url('./eventimg.jpg')",
  backgroundPosition: "center",
  backgroundSize: "cover",
}} */